@if (ViewBag.Error != null)
{
    <div style="color:red; margin-bottom:10px">
        @ViewBag.Error
    </div>
}
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div>
        <label>Name</label>
        <input type="Name" name="Name" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Login</button>
    <small>
        <a href="@Url.Action("Signup", "Home")">go back to signup</a>
    </small>

</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
